/ - content_for :head do
/   %meta{content: "NurseGrid referral program, invite friends and win big!", property: "og:title"}
/   %meta{content: "website", property: "og:type"}
/   %meta{content: "http://blog.nursegrid.com/wp-content/uploads/2014/08/9Mobile-Dashboard1.png", property: "og:image"}
/   / %meta{content: "http://nursegridreferral.com", property: "og:url"}
/   %meta{content: "NurseGrid Referral Program", property: "og:site_name"}
/   %meta{content: "I can't wait for NurseGrid! It's an app for nurses, by nurses. Join free today and earn prizes!", property: "og:description"}

.hero.main_page
  =image_tag "main_hero.png", class: 'hero_bg'
  .announcement
    %h1 
      %span NurseGrid 
      %span is just days 
      %span away...
    %p
      %span An app for nurses, 
      %span by nurses.
  =image_tag "hand_phone.png", class: 'hand_phone'
.form_wrap
  - if Rails.application.config.ended
    %p
      Thank you for participating in our prelaunch.
    %p
      We are compiling rewards right now and will email rewards to all recipients in the coming days.
    %p
      In the meantime, head to
      %a{href: "http://nursegrid.com"} www.nursegrid.com
    %p ThanksAgain!    
  - else
    %p Be the first to know.
    = form_for @user, :url => { :action => "create" } do |f|
      .field
        = f.text_field :email, :placeholder => "enter email"
        %input{name: "commit", type: "submit", onsubmit: "ga('send', {'hitType': 'event', 'eventCategory': 'ReferralRegistration', 'eventAction': 'RegistrationClick', 'eventLabel': 'SplashPgReg': '' });"}