// Global ///////////////////////////////////
html
  width: 100%
  background: #B6BEBF
  &.refer
    background: #fff
body
  font-family: 'Source Sans Pro', sans-serif
  width: 100%
.header
  background: $blue
  padding: 10px
  color: #fff
  position: relative
  +clearfix
  .message_container
    +clearfix
    width: 495px
    margin: 0 auto
    img, span
      display: block
      float: left
    img
      height: 34px
      margin-right: 20px
    span
      color: #fff
      line-height: 34px
      font-size: 26px
  a
    position: absolute
    top: 10px
    right: 10px
    color: #fff
    font-size: 12px





// MAIN PAGE ///////////////////////////////////
.hero
  overflow: hidden
  position: relative
  height: auto
  +clearfix
  .hero_bg
    display: block
    float: left
    width: 100%

  .announcement
    +box-sizing(border-box)
    position: absolute
    top: 0px
    left: 0px
    width: 40%
    text-align: center
    padding: 20px
    h1
      color: $blue
      font:
        size: 90px
        weight: 600
      line-height: 90px
    span
      display: block
      width: 100%
    p
      margin-top: 30px
      color: $text_grey
      font:
        size: 50px
        weight: 200
        style: italic
  .phone_image  
    display: block
    position: absolute
    bottom: 0px
    left: 10%
    width: 17%
  .hand_phone
    display: block
    position: absolute
    bottom: 0px
    right: 0px
    width: 35%

.form_wrap
  +clearfix
  padding:
    bottom: 10px
  background: #B6BEBF
  p
    color: darken($text_grey, 10%)
    text-align: center
    font:
      size: 46px
      weight: 200
    a
  
  form
    .field
      +clearfix
      margin: 10px auto
      width: 40%
    input
      +box-sizing(border-box)
      display: block
      float: left
      border: 2px solid #3F4242
      padding: 4px 14px
      font:
        size: 32px
    input[type='text']
      background: #CDD5D8
      width: 70%
    ::-webkit-input-placeholder
      text-align: center
      font:
        weight: 200
        style: italic
    :-moz-placeholder
      text-align: center
      font:
        weight: 200
        style: italic
    ::-moz-placeholder
      text-align: center
      font:
        weight: 200
        style: italic
    :-ms-input-placeholder
      text-align: center
      font:
        weight: 200
        style: italic

    input[type='submit']
      +transition(background 0.3s ease)
      color: #FFF
      background: $blue
      cursor: pointer
      width: 30%
      border:
        left: none
      color: darken($text_grey, 10%)

      font:
        weight: 200
      &:hover
        background: $dark_blue
        color: #fff

// REFERRAL PAGE ///////////////////////////////////
.hero.referral_page
  
  h1
    font:
      size: 60px
      weight: 500
    line-height: 64px

  .share_wrap
    text-align: center
    position: absolute
    top: 0px
    right: 0px
    width: 50%
    h2
      font:
        size: 60px
      line-height: 64px
      margin: 40px 0px
      span
        display: block
        width: 100%
    p
      color: darken($text_grey, 10%)
      font:
        size: 28px
        style: italic
      line-height: 36px
    .referral_link
      padding: 12px
      border: 2px solid #565656
      margin: 30px 40px 20px 40px
      font:
        size: 20px
      color: #565656
      background: #fff
    .share_links
      ul
        +clearfix
        margin: 0px 40px 20px 40px
        li
          width: 30%
          float: left
          margin-right: 3%
          a
            +transition(background 0.3s ease)
            text-decoration: none
            color: #FFF
            display: block
            border-radius: 4px
            padding: 10px
            background: $blue
            &:hover
              background: $dark_blue
          &.facebook
            margin-left: 2.5%
          &.email
            margin-right: 0%
.prizes
  margin: 10px 100px
.prize_bar
  .progress_bar_wrapper
    position: relative
    width: 96%
    height: 8px
    background: #ccc
    margin-left: 20px
    border-radius: 4px
    overflow: hidden
    .filled
      position: absolute
      top: 0
      left: 0
      height: 8px
      border-radius: 4px
      background: $blue
  h3
    text-align: center
    margin-bottom: 20px
    color: $text_grey
    font:
      size: 32px
      weight: 200
  ul.rewards
    +clearfix
    width: 100%
    position: relative
    li.reward
      position: absolute
      top: -14px
      left: 32%
      z-index: 1

      .circle
        width: 36px
        height: 36px
        color: #FFF
        border-radius: 38px
        text-align: center
        line-height: 36px
        background: #ccc
        color: #252525
        font:
          size: 20px
          weight: 300
      .title
        color: #ccc

        font:
          size: 22px
          style: italic
        margin-top: 5px
        text-indent: -40px
      &.selected
        .circle
          background: $blue
          color: #fff
      &.user_count
        left: 0%
      &.prize-one
        .modal
          top: -380px
      &.prize-two
        left: 65%
        .title
          text-indent: -10px
        .modal
          width: 300px
          left: -140px
          top: -95px
          img
            width: 300px
            margin-bottom: 10px
          text-align: center
      &.prize-grand
        left: 96%
        .title
          text-indent: -35px
          width: 90px
        .modal
          width: 300px
          left: -200px
          top: -450px
          .description
            margin-top: 10px
            span
              color: $blue
              font:
                weight: 600
            text-align: center
          .grand_prize_steps
            +clearfix
          .grand_prize_step
            background: $blue
            padding: 5px
            margin-bottom: 3px
            +clearfix
            &.below
              background: #aaa
              .circle
                color: #aaa !important
              .tickets
                color: #aaa
            .amount
              +clearfix
              float: left
              width: 45%
              .circle
                float: left
                background: #fff
                color: $blue
                height: 28px
                width: 28px
                text-align: center
                line-height: 28px
                font:
                  size: 12px
                  weight: 600
                border-radius: 14px 
              span
                display: block
                float: left
                color: #fff
                font:
                  size: 14px
                  weight: 600
                line-height: 28px
                margin-left: 10px
            .tickets
              +box-sizing(border-box)
              float: right
              width: 55%
              height: 38px
              margin: -5px -5px -5px 0px
              background: #fff
              color: $blue
              line-height: 38px
              text-align: left
              text-indent: 10px
              font:
                size: 14px
                weight: 600

      &:hover
        .modal
          display: block
      .modal
        display: none
        position: absolute
        top: -500px
        left: -165px
        width: 340px
        padding: 12px
        background: #fff
        box-shadow: 1px 1px 5px rgba(0,0,0,0.4)
        img
          width: 340px
          display: block
        ul
          margin:
            top: 10px
            left: 20px

          li
            list-style: disc
.raffle_count
  margin-top: 60px
  text-align: center
  font:
    size: 24px
    style: italic
    weight: 300
  color: $orange
  span
    display: block
    width: 100%

// Mobile Overrrides ///////////////////////////////////
@media only screen and (min-width: 320px) and (max-width: 720px)
  // Small screen, non-retina

  // main overrides
  .hero.main_page
    .hero_bg
      width: 400%
      margin-left: -150%
    .announcement
      width: 100%
      h1
        font:
          size: 60px
        line-height: 60px
      p
        font:
          size: 40px

    .hand_phone
      width: 80%
  .form_wrap
    form
      .field
        width: 90%

  // referral overrides
  .header
    .message_container
      span
        display: none
  .hero.referral_page
    .hero_bg
      width: 350%
      margin-left: -137.5%
    .announcement
      display: none
    .phone_image
      display: none
    .share_wrap
      width: 100%
      p
        font:
          size: 20px
  .prizes
    margin: 10px 30px 10px 10px
  .prize_bar
    h3
      font:
        size: 24px

    ul.rewards
      li.reward
        .title
          font:
            size: 12px
        &:hover
          .modal
            display: none
        &.user_count
          .title
            text-indent: -5px
        &.prize-grand
          .title
            width: 55px
        &.prize-one
          .title
            text-indent: -20px


@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 320px), only screen and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min-resolution: 192dpi) and (min-width: 320px), only screen and (min-resolution: 2dppx) and (min-width: 320px)
  // Small screen, retina, stuff to override above media query

@media only screen and (min-width: 721px) and (max-width: 800px)
  // stop gap for medium/small
  .hero.main_page
    .announcement
      h1
        font:
          size: 50px
        line-height: 50px
      p
        font:
          size: 26px

  // referral overrides
  .hero.referral_page
    .hero_bg
      width: 150%
      margin-left: -37.5%
    .announcement
      width: 50%
      h1
        font:
          size: 40px
        line-height: 40px
    .phone_image
      width: 30%
    .share_wrap
      h2
        font:
          size: 40px
        line-height: 40px
      p
        font:
          size: 20px
        line-height: 20px
      .share_links
        ul
          li
            .text
              display: none
  .prizes
    margin: 10px 50px 10px 30px
  .prize_bar
    h3
      font:
        size: 28px

    ul.rewards
      li.reward
        // .title
        //   font:
        //     size: 12px
        &:hover
          // .modal
          //   display: none
        &.user_count
          .title
            text-indent: -7px
        &.prize-grand

          .title
            width: 70px
            text-indent: -42px

@media only screen and (min-width: 801px) and (max-width: 1249px)
  // referral overrides
  .hero.referral_page
    .hero_bg
      width: 150%
      margin-left: -37.5%
    
    .share_wrap
      h2
        font:
          size: 36px
        line-height: 36px
      p
        font:
          size: 20px
        line-height: 20px
      .share_links
        ul
          li
            .text
              display: none
@media only screen and (min-width: 801px) and (max-width: 1299px)
  // Medium screen, non-retina
  .hero.main_page
    .announcement
      h1
        font:
          size: 60px
        line-height: 60px
      p
        font:
          size: 30px
  .form_wrap
    form
      .field
        width: 60%

  

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 700px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 700px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 700px), only screen and (min-device-pixel-ratio: 2) and (min-width: 700px), only screen and (min-resolution: 192dpi) and (min-width: 700px), only screen and (min-resolution: 2dppx) and (min-width: 700px)
  // Medium screen, retina, stuff to override above media query
  .hero
    

@media only screen and (min-width: 1300px)
  // Large screen, non-retina

    

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 1300px), only screen and (min-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (min-resolution: 192dpi) and (min-width: 1300px), only screen and (min-resolution: 2dppx) and (min-width: 1300px)
  // Large screen, retina, stuff to override above media query
  .hero
    