!!!
/[if lt IE 7 ] <html class="ie6 <haml_loud> @bodyId </haml_loud>">
/[if IE 7 ] <html class="ie7 <haml_loud> @bodyId </haml_loud>">
/[if IE 8 ] <html class="ie8 <haml_loud> @bodyId </haml_loud>">
/[if IE 9 ] <html class="ie9 <haml_loud> @bodyId </haml_loud>">
/ [if (gt IE 9)|!(IE)]><!
%html{class: @bodyId}
  / <![endif]
  %head
    %title NurseGrid Referrals
    %script{src: "//cdn.optimizely.com/js/1207565664.js"}
    %link{href: asset_path('favicon.ico'), rel: "icon", type: "image/x-icon"}
    %link{href: asset_path('favicon.ico'), rel: "shortcut icon", type: "image/x-icon"}
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel: "stylesheet"}
    %link{href: 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,200italic,300italic', rel: "stylesheet", type: "text/css"}

    %meta{content: "NurseGrid Referrals", property: "og:title"}
    %meta{content: "I can't wait for NurseGrid to launch. It's an app for nurses, by nurses. Join today nurse friends.", property: "og:description"}
    %meta{content: asset_path("nursegrid_share_image.png"), property: "og:image"}
    %meta{content: root_url, property: "og:url"}
    %meta{content: 'website', property: "og:type"}
    - if @is_mobile
      -@mobile_class = 'mobile'
      / - if @bodyId == 'home'
      /   %meta{content: "width=1600", name: "viewport"}
      / - else
      /   %meta{content: "width=1120", name: "viewport"}
    -else
      -@mobile_class = 'not-mobile'
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
  %body{id: @bodyId, class: @mobile_class}
    = yield